<!-- Main Content -->
  <div class="row col-md-12">
    <!-- Entradas -->
    <div class="col-md-4">
      <div class="card h-100">
        <a>
          <img class="card-img-top" src="https://s2.abcstatics.com/media/bienestar/2021/04/21/DSCF1029-kn7B--1248x698@abc.JPG" alt="Entradas">
        </a>
        <div class="card-body">
          <h5 class="card-title"><a href="/recetario/ensaladas">ENSALADAS</a></h5>
          <p class="card-text">Recetas deliciosas para comenzar tu comida.</p>
        </div>
      </div>
    </div>

    <!-- Platos Fuertes -->
    <div class="col-md-4">
      <div class="card h-100">
        <a>
          <img class="card-img-top" src="https://www.recetasnestle.com.mx/sites/default/files/styles/crop_recipe_card/public/srh_recipes/154573a9d31fe0b0c8521cf7618c5740.jpg.webp?itok=jQu3EFfU" alt="Platos Fuertes">
        </a>
        <div class="card-body">
          <h5 class="card-title"><a href="/recetario/platos">Platos Fuertes</a></h5>
          <p class="card-text">Recetas principales para el almuerzo o cena.</p>
        </div>
      </div>
    </div>

    <!-- Postres -->
    <div class="col-md-4">
      <div class="card h-100">
        <a>
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY0dBadmR7-DTejoaw01xgwUznGlv45USxQw&s" alt="Postres">
        </a>
        <div class="card-body">
          <h5 class="card-title"><a href="/recetario/postres">Postres</a></h5>
          <p class="card-text">Recetas dulces para cerrar con broche de oro.</p>
        </div>
      </div>
    </div>
  </div>
